h1 {
  color: rgb(125, 24, 46);
  background-color: rgb(216, 230, 91);
}

h2 {
  color: rgb(15, 91, 178);
  font-style: italic;
}

h3 {
  color: rgb(192, 108, 12);
  background-color: rgb(247, 248, 246);
  position: fixed; top: 0em; right: 10em;
}

h3.p3 {
  color: rgb(192, 108, 12);
  background-color: rgb(247, 248, 246);
  position: fixed; top: 0em; right: 10em;
  font-family: fantasy;
}

p {
  color: rgb(0, 0, 0);
}

p#Links {
  color: rgb(0, 0, 0);
  position: fixed; top: 5em; right: 15em;
  font-size: larger;
}

p.p3{
  color:aliceblue;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}

li.p3{
  color:aliceblue;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

img.other{
  border-width: 3px;
  border-style: solid;
  position: absolute; right: 30em;
}

img.me{
  border-width: 3px;
  border-style: solid;
  float: left;
  clear: both;
}

body.class3{
  background-image: url("Stars 2.jpg");
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}