html{
  scroll-behavior: smooth;
}

.card1, .card2, .card3{
  border-style: solid;
  border-radius: 1px;
  border-color: black;
  margin-right: 5px;
  border-radius: 10px;
  margin-bottom: 15px;
  margin-top: 15px;
  position: relative;
  img {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    width: 90%;
    height: 40%;
    margin: 5%;
  }
  button{
    background-color: rgb(222, 222, 98);
    margin: 5%;
    position: absolute;
    bottom: 0%;
    left: 0%
  }
  p{
    margin: 0% 3% 15% 3%;
    font-size: small;
  }
  a{
    text-decoration: none;
  }
  span {
  position: absolute;
  font-size: 100%;
  top: 28%;
  right: 0%;
  color: white; 
  background-color: rgba(70, 70, 70, 0.5); 
  width: 80%;
  height: 5%;
  margin-right: 5%;
  padding: 5% 5% 10% 5%;  
  }
}

.cards{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-content: center;
}

header{
  background-image: url('techheader.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  button{
    background-color: rgb(222, 222, 98);
  }
  a{
    text-decoration: none;
  }
  p{
    margin-left: 15%;
  }
  h1{
    text-wrap-mode: nowrap ;
  }
}

header, footer{
  border-style: solid;
  border-radius: 1px;
  border-color: black;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
}

footer{
  background-color: purple;
  color: white;
}

.program1, .program2, .program3, .program4{
  margin-right: 5px;
  border-radius: 10px;
  margin-bottom: 15px;
  span{
    display: none;
  }
  img{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    width: 80%;
    height: 40%;
    margin: 10%;
    &:hover{
      scale: 1.2;
    }
  }
  &:hover{
    span{
      display: block;
      margin: 5%;
    }
  }
  p{
    margin: 5%;
  }
}

.programs{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-content: space-evenly;
  perspective: none;
}