article:first-of-type{
  background-color: rgb(66, 37, 2) !important;
  color: rgb(245, 201, 147);
  padding: 1%;
  margin-bottom: 1%;
}

h2 ~ .task1{
  background-color: rgb(245, 201, 147);
  color: rgb(66, 37, 2);
  padding: 1%;
  margin-bottom: 1%;
}

h2 ~ .task2{
  background-color: rgb(245, 201, 147);
  color: rgb(66, 37, 2);
  padding: 1%;
  margin-bottom: 1%;
}

article:last-of-type{
  background-color: rgb(245, 201, 147);
  color: rgb(66, 37, 2);
  padding: 1%;
  margin-bottom: 1%;
}

h3 ~ .task1{
  background-color: rgb(66, 37, 2);
  color: rgb(245, 201, 147);
  padding: 1%;
  margin-bottom: 1%;
}

h3 ~ .task2{
  background-color: rgb(66, 37, 2);
  color: rgb(245, 201, 147);
  padding: 1%;
  margin-bottom: 1%;
}

.task1:hover{
  border-color: red;
  border-width: 2px;
  border-style: solid;
}
.task1 >div:hover{
  background-color: orange;
  border-radius: 10px;
  width: fit-content;
  padding: 0.2em;
}

.task2:hover{
  border-color: pink;
  border-width: 2px;
  border-style: dotted;
}

h2 ~ .task2 li:first-of-type{
  background-color: purple;
  width: fit-content;
}

h2 ~ .task2 li:not(.special) {
  color: red;
  width: fit-content;
}

h2 ~ .task2 li:nth-of-type(4) {
  font-style: italic;
  width: fit-content;
}

h2 ~ .task2 li:nth-child(odd) {
  font-weight: bold ;
  width: fit-content;
}

h4:has(blockquote:hover){
  color: rgb(184, 59, 2);
}

h3 ~ .task2 li:nth-child(even) {
  list-style-type:lower-greek ;
  width: fit-content;
}

h3 ~ .task3{
  background-color: rgb(66, 37, 2);
  color: rgb(245, 201, 147);
  padding: 1%;
  margin-bottom: 1%;
}

h3 ~ .task3 .wrong{
  background-color: rgb(82, 49, 10);
  color: rgb(245, 201, 147);
  padding: 1%;
  margin-bottom: 1%;
}

.task3 .correct{
  background-color: rgb(82, 49, 10);
  color: rgb(245, 201, 147);
  padding: 1%;
  margin-bottom: 1%;
}

.task3 .wrong::before {
  content: "\2717";
  position: absolute;
  left: 50%;
  transform: scale(200%);
  font-size: xx-large;
  font-weight: bold;
  color: #ff0000;
}

.task3 .correct::before {
  content: "\2714";
  position: absolute;
  left: 50%;
  transform: scale(200%);
  font-size: xx-large;
  font-weight: bold;
  color: green;
}
