.buttons{
  display: flex;
  background-color: rgb(170, 114, 222);
}

.Map{
  display: flex;
}

.facts{
  display: flex;
  background-color: rgb(177, 128, 223);
}

.Job{
  display: flex;
  background-color: blueviolet;
}

.Footer{
  display: flex;
  background-color: blueviolet;
}

span:first-of-type:hover ~ .correct{
  background-color: rgb(202, 117, 14);
}


