header{
  margin: 1%;
  width:auto;
  height: 7em;
  display: block;
  border-width: 2px;
  border-style: solid;
  padding: 1%;
  background-color: rgb(209, 147, 228);
}


div.menu{
  margin: 1%;
  width: auto;
  height: 3em;
  display: block;
  border-width: 2px;
  border-style: solid;
  padding: 1%;
  background-color: rgb(209, 147, 228);
}


.Aside1{
  float: left;
  position: sticky;
  margin-right: 1%;
  margin-bottom: 1%;
  margin-left: 1%;
  width: 8em;
  height: 6em;
  border-width: 2px;
  border-style: solid;
  background-color: rgb(209, 147, 228);
}


.Aside2{
  position: absolute;
  margin-left: 1%;
  bottom: 7em;
  width: 8em;
  height: 10em;
  border-width: 2px;
  border-style: solid;
  background-color: rgb(209, 147, 228);
}


.Aside3{
  float: right;
  width: 8em;
  height: 16.5em;
  border-width: 2px;
  border-style: solid;
  background-color: rgb(209, 147, 228);
  margin-right: 1%;
}


.MainContent{
  width: 56em;
  float: left;
  height: 15em;
  display: block;
  border-width: 2px;
  border-style: solid;
  padding: 1%;
  background-color: rgb(209, 147, 228);
}

.S1{
  margin: 1%;
  width: auto;
  height: 5em;
  display: block;
  border-width: 2px;
  border-style: solid;
  padding: 1%;
  background-color: rgb(209, 147, 228);
}

.S2{
  margin: 1%;
  width: auto;
  height: 5em;
  display: block;
  border-width: 2px;
  border-style: solid;
  padding: 1%;
  background-color: rgb(209, 147, 228);
}


.Footer{
  position: fixed;
  bottom: 0;
  margin: 1%;
  width: 76em;
  height: 5em;
  display: block;
  border-width: 2px;
  border-style: solid;
  padding: 0.3%;
  background-color: rgb(209, 147, 228);
}

.left{
  float: left;
  border-width: 2px;
  border-style: outset;
  margin: 0.6%;
}

.right{
  float: right;
  border-width: 2px;
  border-style: outset;
  margin: 0.6%;
}


p {
  color: rgb(0, 0, 0);
}

img.other{
  border-width: 3px;
  border-style: solid;
  position: absolute; right: 30em;
}


img.me{
  border-width: 3px;
  border-style: solid;
  float: left;
  clear: both;
}

