header{
  margin: 1%;
  width:auto;
  height: 7em;
  display: block;
  border-width: 2px;
  border-style: solid;
  padding: 1%;
  background-color: rgb(209, 147, 228);
}

.menu{
  margin: 1%;
  width: auto;
  height: 3em;
  display: block;
  border-width: 2px;
  border-style: solid;
  padding: 1%;
  background-color: rgb(209, 147, 228);
}

.Aside1{
  float: left;
  position: sticky;
  margin-right: 1%;
  margin-bottom: 1%;
  margin-left: 1%;
  width: 8em;
  height: 6em;
  border-width: 2px;
  background-color: rgb(209, 147, 228);
}

.Aside2{
  position: absolute;
  margin-left: 1%;
  padding-left: 1em;
  padding-top: 0.5em;
  bottom: 7.8em;
  width: 7em;
  height: 9em;
  border-width: 2px;
  border-style: solid;
  background-color: rgb(209, 147, 228);
}

.ToDoList{
  text-decoration: none;
  margin-right: 1em;
  margin-bottom: 0.5em;
  width: fit-content;
  padding-left: 1em;
  padding-right: 0;
}

.listed{
  margin: 0.1em;
  background-color: rgb(147, 89, 164) !important;
  width: fit-content;
}

.listedo{
  margin: 0.1em;
  background-color: rgb(200, 117, 225) !important;
  width: fit-content;
  list-style-image: url();
  list-style: none;
}

.listede{
  margin: 0.1em;
  background-color: rgb(224, 99, 224) !important;
  width: fit-content;
  list-style-image: url();
  list-style: none;
}

.listedc{
  margin: 0.1em;
  background-color: rgb(216, 181, 227) !important;
  width: fit-content;
  text-decoration: line-through;
  list-style: none;
}

.Aside3{
  float: right;
  width: 8em;
  height: 16em;
  border-width: 2px;
  border-style: solid;
  background-color: rgb(209, 147, 228);
  margin-right: 1%;
  padding-left: 0.9em;
}

.list{
  background-color: rgb(174, 120, 191);
  text-decoration: none;
  margin-top: 0;
  width: fit-content;
  padding-left: 1em;
}

.MainContent{
  width: 56em;
  float: left;
  height: 14.5em;
  display: block;
  border-width: 2px;
  border-style: solid;
  padding: 1%;
  background-color: rgb(209, 147, 228);
}

.S1{
  margin: 1%;
  width: auto;
  height: 5em;
  display: block;
  border-width: 2px;
  border-style: solid;
  padding: 1%;
  background-color: rgb(209, 147, 228);
  border-radius: 8px;
}

.S2{
  margin: 1%;
  width: auto;
  height: 5em;
  display: block;
  border-width: 2px;
  border-style: solid;
  padding: 1%;
  background-color: rgb(209, 147, 228);
  border-radius: 8px;
}

.Footer{
  position: fixed;
  bottom: 0;
  margin: 1%;
  width: 76em;
  height: 5em;
  display: block;
  border-width: 2px;
  border-style: solid;
  padding: 0.3%;
  padding-bottom: 1em;
  background-color: rgb(209, 147, 228);
}

.left{
  float: left;
  border-width: 2px;
  border-style: outset;
  margin: 0.3%;
  border-radius: 100px;
  text-decoration: none;
  padding: 0.4em;
  background-color: rgb(185, 136, 210);
  color: black;
}

.left:hover{
  background-color: rgb(129, 74, 180);
  text-decoration: overline;
}

.right{
  float: right;
  border-width: 2px;
  border-style: outset;
  border-radius: 100px;
  text-decoration: none;
  padding: 0.2em;
  margin-right: 1em;
  width: 2em;
  background-color: rgb(185, 136, 210);;
  filter: grayscale(100%) brightness(65%);
}

.right:hover{
  filter: grayscale(0%);
}

p {
  color: rgb(0, 0, 0);
}

.A3P{
  border-radius: 8px;
  width: 6em;
  height: 4em;
}

img.me{
  border-width: 3px;
  border-style: solid;
  float: left;
  clear: both;
}

.listedc::after,
.listede::after,
.listedo::after{
  content:" \2717";
}

.listede::before,
.listedo::before{
  content:" \2610";
}


.listedc::before{
  content:" \2611";
}

