header{
  margin: 1%;
  width:auto;
  height: 8em;
  display: block;
  border-width: 2px;
  border-style: solid;
  padding: 1%;
  background-color: rgb(209, 147, 228);
}


div.menu{
  margin: 1%;
  width: auto;
  height: 3em;
  display: block;
  border-width: 2px;
  border-style: solid;
  padding: 1%;
  background-color: rgb(209, 147, 228);
}


.Aside1{
  float: left;
  position: sticky;
  margin-right: 1%;
  margin-bottom: 1%;
  margin-left: 1%;
  width: 6em;
  height: 6em;
  border-width: 2px;
  border-style: solid;
  background-color: rgb(209, 147, 228);
}


.Aside2{
  float: left;
  clear: left;
  
  width: 6em;
  height: 10em;
  border-width: 2px;
  border-style: solid;
  background-color: rgb(209, 147, 228);
}


.Aside3{
  float: right;
  width: 6em;
  height: 16.5em;
  border-width: 2px;
  border-style: solid;
  background-color: rgb(209, 147, 228);
  margin-right: 1%;
  padding: 0.1em;
}


.MainContent{
  width: 60em;
  float: left;
  height: 15em;
  display: block;
  border-width: 2px;
  border-style: solid;
  padding: 1%;
  background-color: rgb(209, 147, 228);
}

.S1{
  margin: 1%;
  width: auto;
  height: 7em;
  display: block;
  border-width: 2px;
  border-style: solid;
  padding: 1%;
  background-color: rgb(209, 147, 228);
}

.S2{
  margin: 1%;
  width: auto;
  height: 7em;
  display: block;
  border-width: 2px;
  border-style: solid;
  padding: 1%;
  background-color: rgb(209, 147, 228);
}


Footer{
  position: fixed;
  bottom: 0;
  height: 6em;
  width: auto;
  display: block;
  border-width: 2px;
  border-style: solid;
  margin: 1%;
  padding: 1%;
  background-color: rgb(209, 147, 228);
}


h2 {
  color: rgb(15, 91, 178);
  font-style: italic;
}


h3 {
  color: rgb(192, 108, 12);
  background-color: rgb(247, 248, 246);
  position: fixed; top: 0em; right: 10em;
}


h3.p3 {
  color: rgb(192, 108, 12);
  background-color: rgb(247, 248, 246);
  position: fixed; top: 0em; right: 10em;
  font-family: fantasy;
}


p {
  color: rgb(0, 0, 0);
}


p#Links {
  color: rgb(0, 0, 0);
  position: fixed; top: 5em; right: 15em;
  font-size: larger;
}


p.p3{
  color:aliceblue;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}


li.p3{
  color:aliceblue;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


img.other{
  border-width: 3px;
  border-style: solid;
  position: absolute; right: 30em;
}


img.me{
  border-width: 3px;
  border-style: solid;
  float: left;
  clear: both;
}


body.class3{
  background-image: url("Stars 2.jpg");
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

